<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Imgura</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/style.css">
  {% endblock %}
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <p>IMGURA</p>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="/">
            Home
          </a>
          {% if not user %}
          <div class="navbar-item">
            <a class="button is-light" href="/login">
              Log in
            </a>
          </div>
          {% endif %}
          {% if user %}
          <a class="navbar-item" href="/upload">
            Upload
          </a>
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-link">
                <strong>@{{user.name}}</strong>
              </a>
              <a class="button is-light" href="/logout">
                Log out
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <div class="section">
    {% block content %}{% endblock %}
  </div>
  {% block footer %}
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <div class="soc">
          <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
        </div>
        <p>
          <strong>Imgura</strong> by <s>Gura</s>.
        </p>
      </div>
    </div>
  </footer>
  {% endblock %}
</body>

</html>